.text-lightblue {
    color: #001f3f;
}

.text-dark-blue {
    color: #2ecc71;
}

.text-secondary {
    color: #f1c40f;
}

.text-success {
    color: #e91e63;
}

.text-info {
    color: #333333;
}

.text-warning {
    color: #e67e22;
}

  
